<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
<!-- 属性顺序：properties、settings、typeAliases、typeHandlers、plugins、environments、mappers -->
	<typeAliases>
		<!-- 
		<typeAlias alias="Dwxxb" type="com.yd.example.model.mybatis.Dwxxb" />
		 -->
	</typeAliases>
</configuration>